[Unit]
Description=Mobile Alerts Proxy Server
Documentation=https://github.com/sarnau/MMMMobileAlerts/tree/master/maserver
After=network.target

[Service]
Type=simple

# Update to the username owning the installation
User=USERNAME

# update to the proper path
WorkingDirectory=/PATH/TO/MMMMobileAlerts/maserver
ExecStart=/usr/bin/node /PATH/TO/MMMMobileAlerts/maserver/mobilealerts.js

Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=maserver

[Install]
WantedBy=multi-user.target

